.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  margin-top: 48px;
}

.urlinput {
  width: 400px;
}

.button {
  height: 36px;
  width: 100px;
  margin: 16px;
}
